.tbc{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    align-items: center;

    .icons{
        width: 50rem;
        // border: 1px solid red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        align-items: center;

        .text{
            color: lightgray;
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;

        }

        span{
            img{
                height: 4.5rem;
                filter: grayscale(1);
            }
        }
    }
}